* {
  font-family: Montserrat;
}

body {
  background-color: #eeeeee;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userSays {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.1rem;
  background-color: #e2e2e2;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #606060;
}
.userSays h5 {
  margin: 0;
  font-weight: 300px;
}
.userSays p {
  margin: 1px;
  font-weight: 800;
}

.button {
  font-weight: 700;
  font-size: 2rem;
  color: #625188;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  background: #eeeeee;
  -webkit-box-shadow: 30px 30px 60px #cacaca, -30px -30px 60px #ffffff;
          box-shadow: 30px 30px 60px #cacaca, -30px -30px 60px #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background: #eeeeee;
  -webkit-box-shadow: inset 30px 30px 60px #cacaca, inset -30px -30px 60px #ffffff;
          box-shadow: inset 30px 30px 60px #cacaca, inset -30px -30px 60px #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* start new code */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
}

.switchBtn input {
  display: none;
}

.switchBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #00a2ff;
}

.off {
  position: relative;
  right: 40px;
}

.on {
  position: relative;
  left: 130px;
}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px;
  color: #fff;
  border: 2px solid #eeeeee;
  -webkit-box-shadow: inset 1px 1px 1px #cacaca, inset -1px -1px 1px #ffffff, 1px 1px 1px #cacaca, -1px -1px 1px #ffffff;
          box-shadow: inset 1px 1px 1px #cacaca, inset -1px -1px 1px #ffffff, 1px 1px 1px #cacaca, -1px -1px 1px #ffffff;
}

.slide:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  bottom: 3px;
  background-color: #eeeeee;
  -webkit-box-shadow: 1px 1px 1px #cacaca, -1px -1px 1px #ffffff;
          box-shadow: 1px 1px 1px #cacaca, -1px -1px 1px #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slide {
  padding-left: 40px;
  background-color: #29a6db;
}

input:focus + .slide {
  -webkit-box-shadow: 0 0 1px #01aeed;
          box-shadow: 0 0 1px #01aeed;
}

input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #29a6db;
  -webkit-box-shadow: 1px 1px 1px #196586, -1px -1px 1px #39e7ff;
          box-shadow: 1px 1px 1px #196586, -1px -1px 1px #39e7ff;
  left: 82px;
}

.slide.round {
  border-radius: 34px;
}

.slide.round:before {
  border-radius: 50%;
}

/* end of new code */