@import 'variables';
@import 'globales';
@import 'color-preference';

.container {
  max-width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userSays {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
  background-color: getColor(background);
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #606060;
  h5 {
    margin: 0;
    font-weight: 300px;
  }
  p {
    margin: 1px;
    font-weight: 800;
  }
}
.button {
  font-weight: 700;
  font-size: 2rem;
  color: getColor(text);
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  background: getColor(background);
  box-shadow: 30px 30px 60px #cacaca, -30px -30px 60px getColor(background);
  transition: all 0.5s ease;
}
.button:hover {
  background: getColor(background);
  box-shadow: inset 30px 30px 60px #cacaca, inset -30px -30px 60px getColor(background);
  transition: all 0.5s ease;
}
/* start new code */
.switchBtn {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
}
.switchBtn input {
  display: none;
}
.switchBtn {
  display: flex;
  font-weight: bold;
  color: getColor(primary);
}

.off {
  position: relative;
  right: 40px;
}
.on {
  position: relative;
  left: 130px;
}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: getColor(background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px;
  color: getColor(background);
  border: 2px solid getColor(background);
  box-shadow: inset 1px 1px 1px #cacaca, inset -1px -1px 1px getColor(background) 2, 1px 1px 1px #cacaca, -1px -1px 1px getColor(background);
}
.slide:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  bottom: 3px;
  background-color: getColor(background);
  box-shadow: 1px 1px 1px #cacaca, -1px -1px 1px getColor(background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slide {
  padding-left: 40px;
  background-color: getColor(primary);
}
input:focus + .slide {
  box-shadow: 0 0 1px getColor(primary);
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: getColor(primary);
  box-shadow: 1px 1px 1px #196586, -1px -1px 1px #39e7ff;
  left: 82px;
}
.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}

/* end of new code */
